<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://kit.fontawesome.com/b8991598b2.js"></script>
	<link rel="stylesheet" href="{{url_for('static', filename='Search.css')}}">
</head>
<body>
<style>
		.navbar { color: red; }
</style>
		{{ nav.mynav.render() }}
<p>&nbsp;</p>
<p></p>
<p>&nbsp;</p>
<p><a href="https://ibb.co/sbvfWQP"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.ibb.co/VJW1wDN/Tango-Search-logo.png" alt="Tango-Search-logo" border="0" /></a></p>
<form method='POST'>
	<div class="search-box">
		<input class="search-txt" type="text" input name="search" placeholder="Enter your search query...">
		<a class="search-btn" href="#">
			<i class="fas fa-search"></i>
		</a>
	</div>
</body>
</html>
